@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

//////////////////////////////////////// VARIABLES ////////////////////////////////////////
:root {
  --red: #e43956c4;
  --blue: #0077b5;
  --gray: rgb(170, 170, 170);
  --dark-gray: #181a1b;
  --dark-blue: #002333;
  --text-color: #fff;
  --card-background: #2e3031;
  --skills-span: #b1b1b1;
  --open-sans: "Open Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
}

.light-mode {
  --gray: rgb(107, 107, 107);
  --dark-gray: white;
  --text-color: #000;
  --card-background: #eeeeee;
  --skills-span: rgb(61, 61, 61);
}

//////////////////////////////////////// GLOBAL ////////////////////////////////////////
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  &::before {
    box-sizing: inherit;
  }
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--dark-gray);
}

//////////////////////////////////////// HEADER ////////////////////////////////////////
header {
  background: url(../images/space.jpg) center;
  background-size: cover;
  min-height: 100vh;
  nav {
    z-index: 100;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--raleway);
    min-height: 6vh;
    animation: nav-links 0.5s;
    .logo {
      color: #fff;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: 0.3s ease;
      span {
        color: var(--red);
      }
    }
    .links {
      display: flex;
      justify-content: space-around;
      width: 50rem;
      max-width: 50%;
      min-width: 30%;
      z-index: 1000;
      li {
        list-style: none;
      }
      a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px;
        display: inline-block;
      }
      .link::after {
        content: "";
        position: relative;
        display: block;
        width: 0;
        height: 5px;
        background: var(--red);
        transition: width 0.3s ease;
      }
      .link:hover::after {
        width: 100%;
      }
    }
    .hamburger-menu {
      display: none;
      cursor: pointer;
      div {
        background-color: var(--text-color);
        transition: 0.5s;
        width: 25px;
        height: 3px;
        margin: 5px;
      }
    }
  }

  //////////////////////////////////////// DARK MODE TOGGLE ////////////////////////////////////////
  .color-toggle-label {
    margin: -0.2rem;
    width: 3rem;
    height: 1.6rem;
    border-radius: 25px;
    background: var(--blue);
    position: absolute;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .color-toggle {
    width: 1.2em;
    height: 1.2em;
    background: var(--dark-gray);
    position: absolute;
    border-radius: 50%;
    top: 0.18rem;
    left: 0.18rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  #color-toggle-input {
    display: none;
  }

  #color-toggle-input:checked ~ label .color-toggle {
    transform: translateX(1.4rem);
  }

  //////////////////////////////////////// HERO SECTION ////////////////////////////////////////
  .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1,
    p {
      color: #fff;
    }
    h1 {
      white-space: nowrap;
      text-align: center;
      font-size: calc(1.5rem + 3.2vw);
      font-family: var(--open-sans);
      span {
        color: var(--red);
      }
    }
    p {
      font-family: var(--raleway);
      color: rgb(170, 170, 170);
      line-height: 1.6;
      font-size: calc(14px + 0.5vw);
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 0.5rem;
    }
    .hero-btns {
      white-space: nowrap;
      text-align: center;
      a {
        margin: 1rem 0.5rem;
        display: inline-block;
        font-family: var(--open-sans);
        text-decoration: none;
        padding: 10px 32px;
        border-radius: 25px;
        font-size: 1rem;
        transition: 0.5s ease;
        font-weight: bold;
        letter-spacing: 1px;
      }
      .about {
        color: #fff;
        border: 2px solid var(--red);
      }
      .about:hover {
        background: var(--red);
      }
      .projects-btn {
        color: #fff;
        border: 2px solid var(--blue);
        background: var(--blue);
      }
      .projects-btn:hover {
        background: transparent;
        color: var(--text-color);
      }
    }
  }

  //////////////////////////////////////// SOCIAL LINKS ////////////////////////////////////////
  .socials {
    z-index: 100;
    top: 65%;
    position: absolute;
    left: -8.5rem;
    animation: social-links 0.5s;
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-family: var(--raleway);
          font-size: 1.2rem;
          padding: 1.2rem;
          display: block;
          width: 200px;
          text-align: right;
          font-weight: bold;
          transition: 0.3s ease;
          i {
            padding-left: 1.5rem;
          }
        }
        .linkedin {
          background: var(--blue);
        }
        .github {
          background: #2e3031;
        }
        .email {
          background: var(--red);
        }
        a:hover {
          transform: translate(120px, 0);
        }
      }
    }
  }
}

#home .fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--red);
  transition: 0.3s ease;
  backdrop-filter: blur(8px);
  .logo {
    color: var(--text-color);
    span {
      color: var(--text-color);
    }
  }
  .links {
    .link::after {
      background: var(--dark-gray);
    }
  }
}

//////////////////////////////////////// ABOUT SECTION ////////////////////////////////////////
#about {
  padding: 2rem 0;
  background: var(--dark-blue);
  .container-about {
    display: flex;
    .about-me {
      width: 60%;
      h2 {
        font-size: 2.5rem;
        position: relative;
        font-family: var(--open-sans);
        color: #fff;
        letter-spacing: 2px;
        padding-top: 5rem;
        width: 66%;
        margin: 0 auto;
        span {
          color: var(--red);
        }
      }
      h2::after {
        content: "";
        position: absolute;
        top: 82%;
        margin-left: 1rem;
        width: 35%;
        height: 3px;
        background: var(--red);
      }
      p {
        font-size: 1.2rem;
        margin: 0 auto;
        padding: 2rem 0 5rem 0;
        max-width: 67%;
        color: rgb(170, 170, 170);
        line-height: 1.7;
        font-family: var(--open-sans);
        text-align: justify;
      }
    }
    .student-img {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 60%;
      }
    }
  }
}

//////////////////////////////////////// SKILLS ////////////////////////////////////////
#skills {
  background: var(--dark-gray);
  padding: 7rem 0;
  .header {
    h2 {
      font-size: 2.5rem;
      position: relative;
      color: var(--text-color);
      font-family: var(--open-sans);
      text-transform: capitalize;
      letter-spacing: 2px;
      width: 80%;
      margin: 0 auto;
      span {
        color: var(--red);
      }
    }
    h2::after {
      content: "";
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      width: 20%;
      height: 3px;
      background: var(--red);
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    div {
      background: var(--card-background);
      height: 22rem;
      width: 18rem;
      padding: 1rem;
      margin: 1.5rem;
      text-align: center;
      font-family: var(--open-sans);
      transition: 0.5s ease;
      p {
        font-size: 4rem;
        padding: 1rem;
        color: var(--red);
      }
      h3 {
        font-size: 1.5rem;
        color: var(--text-color);
        padding-bottom: 1rem;
      }
      span {
        font-size: 1rem;
        color: var(--skills-span);
        line-height: 2;
        .iconify {
          font-size: 1.2rem;
        }
      }
    }
    div:hover {
      transform: translateY(-5%);
      box-shadow: 0 5px var(--red);
    }
  }
}

//////////////////////////////////////// FEATURED PROJECTS ////////////////////////////////////////
#projects {
  background: var(--dark-blue);
  .header {
    padding-top: 7rem;
    h2 {
      font-size: 2.5rem;
      position: relative;
      color: #fff;
      font-family: var(--open-sans);
      text-transform: capitalize;
      letter-spacing: 2px;
      width: 80%;
      margin: 0 auto;
      span {
        color: var(--red);
      }
    }
    h2::after {
      content: "";
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      width: 20%;
      height: 3px;
      background: var(--red);
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    .card {
      display: grid;
      grid-template-columns: 20rem;
      grid-template-rows: 13rem 13rem 5rem;
      grid-template-areas: "image" "text" "buttons";
      border-radius: 19px;
      background: var(--dark-gray);
      text-align: center;
      margin: 4rem auto 4rem auto;
      transition: 0.3s ease;
      .card-img {
        grid-area: image;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-size: cover;
      }
      .card-text {
        grid-area: text;
        margin: 1.5rem;
        h2 {
          font-family: var(--open-sans);
          padding: 1rem;
          color: var(--text-color);
        }
        p {
          color: var(--gray);
          font-family: var(--raleway);
          line-height: 1.6;
        }
      }
      .card-buttons {
        grid-area: buttons;
        a {
          margin-left: 0.5rem;
          text-decoration: none;
          padding: 8px 24px;
          outline: none;
          border: none;
          font-family: var(--raleway);
          color: var(--text-color);
          background: var(--red);
          border-radius: 25px;
          transition: 0.5s ease;
          i {
            padding-right: 5px;
          }
        }
        a:hover {
          background: var(--text-color);
          color: var(--red);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .card1 {
      background: url(../images/memory_cards.png) center;
    }
    .card2 {
      background: url(../images/cv.png) center;
    }
    .card3 {
      background: url(../images/weather_app.png) center;
    }
    .card4 {
      background: url(../images/portfolio.png) center;
    }
    .card5 {
      background: url(../images/todo_list.png) center;
    }
    .card6 {
      background: url(../images/tic_tac_toe.png) center;
    }
    .card7 {
      background: url(../images/restaurant.png) center;
    }
    .card8 {
      background: url(../images/library.png) center;
    }
  }
}

// reveal projects on scroll down
.reveal {
  position: relative;
  transform: translateY(5rem);
  opacity: 0;
  transition: 1s ease;
}

.reveal.active {
  transform: translateY(0rem);
  opacity: 1;
}

//////////////////////////////////////// CONTACT ME ////////////////////////////////////////
#contact {
  background: var(--dark-gray);
  padding: 1.5rem;
  text-align: center;
  span,
  .email {
    color: var(--gray);
    font-family: var(--raleway);
    font-size: calc(1rem + 0.2vw);
    text-decoration: none;
    font-weight: bold;
  }
  span {
    color: var(--red);
  }
}

//////////////////////////////////////// BACK TO TOP BUTTON ////////////////////////////////////////
#back-to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 4%;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--red);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 1;
}

#back-to-top:hover,
#back-to-top:focus {
  background-color: var(--text-color);
  color: var(--red);
}

.btn-entrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btn-entrance;
}

.btn-exit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btn-exit;
}

@keyframes btn-entrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes btn-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

//////////////////////////////////////// MOBILE DEVICES ////////////////////////////////////////
@media screen and (max-width: 360px) {
  #home {
    .hero {
      .student {
        font-size: 0.6rem;
      }
      .hero-btns {
        #about-btn,
        #projects-btn {
          padding: 6px 16px;
          font-size: 0.7rem;
        }
      }
    }
  }

  #socials {
    top: 65%;
    left: -9.5rem;
    ul {
      li {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  #about {
    #about-me {
      h2 {
        font-size: 1.8rem;
      }
    }
  }

  #skills {
    #header {
      h2 {
        font-size: 1.8rem;
      }
    }
    #container {
      div {
        height: 20rem;
        width: 16rem;
        p {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.2rem;
        }
        span {
          font-size: 0.8rem;
        }
      }
    }
  }

  #projects {
    #header {
      h2 {
        font-size: 1.8rem;
      }
    }
    .container {
      #card {
        grid-template-columns: 15rem;
        .card-text {
          h2 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
        .card-buttons {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #home {
    #hamburger-menu {
      div {
        height: 2.7px;
        margin: 4px;
      }
    }
    .logo {
      font-size: 1rem;
    }
    .hero {
      .hero-btns {
        .about,
        .projects-btn {
          padding: 8px 24px;
          font-size: 0.8rem;
        }
      }
    }
  }

  #about {
    .container-about {
      .about-me {
        width: 100%;
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          min-width: 70%;
        }
      }
    }
  }

  #skills {
    .header {
      h2 {
        font-size: 2rem;
      }
    }
    #container {
      div {
        margin: 1.5rem auto;
      }
    }
  }

  #projects {
    .header h2 {
      font-size: 2rem;
    }
    .container {
      width: 100%;
      .card {
        grid-template-columns: 18rem;
        grid-template-rows: 10rem 10rem 4rem;
        margin: 2rem auto;
      }
    }
  }
}

//////////////////////////////////////// MEDIUM-SIZED DEVICES ////////////////////////////////////////
@media screen and (max-width: 850px) {
  #nav {
    min-height: 8vh;
  }

  .links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    li {
      opacity: 0;
    }
  }

  #home .fixed {
    background: #e43955;
  }

  .hamburger-menu {
    display: block !important;
  }

  #back-to-top {
    bottom: 6%;
    right: 5%;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

//////////////////////////////////////// LARGE DEVICES ////////////////////////////////////////
@media screen and (max-width: 1024px) {
  #about .container-about {
    flex-direction: column;
    .about-me {
      width: 100%;
      h2 {
        width: 50%;
      }
      h2::after {
        width: 20%;
      }
      p {
        width: 50%;
      }
    }
    .student-img {
      width: 100%;
      padding: 0 0 5rem 0;
      img {
        width: 40%;
        height: 40%;
      }
    }
  }

  #skills {
    .header {
      h2 {
        width: 50%;
      }
    }
  }

  #projects {
    .header {
      h2 {
        width: 50%;
      }
    }
  }
}

//////////////////////////////////////// LARGER DEVICES ////////////////////////////////////////
@media screen and (max-width: 1260px) {
  #skills {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1280px) {
  #projects #card {
    grid-template-columns: 18rem;
    grid-template-rows: 13rem 13rem 5rem;
  }
}

//////////////////////////////////////// MOBILE NAVIGATION ////////////////////////////////////////
.nav-active {
  z-index: 1000;
  transform: translateX(0%);
  background: #e43955;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
//////////////////////////////////////// PAGE LOAD ANIMATIONS ////////////////////////////////////////
@keyframes nav-links {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes social-links {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
